.clothing{
    border-top: 1px solid #ccc;
    width: 100%;
    position: relative;
}
.clothing .clothing-noibat{
    font-size: 18px;
    margin-top: 16px;
    font-family: "SVN-Futura Medium", sans-serif;
    text-transform: uppercase;
    padding-bottom: 16px;
    display: flex;
    font-weight: 200;
    justify-content: center;
}
.clothing-shirt{
    width: 100%;
    display: flex;
    justify-content: space-between;  
    flex-wrap: wrap;
}
.clothing-shirt-noibat{
    position: relative;
    padding:20px 0;
}
.clothing-shirt-noibat .clothing-shirt-1{
    width: 600px;
    height: 800px;
}
.clothing-shirt-title{
    font-size: 15px;
    overflow: hidden;
    line-height: 1.5;
    color: #7f7f7f;
    /* display: flex; */
}
.clothing-shirt-title p{
    font-size: 15px;
    line-height: 1.5;
    color: black;

}
.clothing-shirt-noibat .clothing-shirt-2{
    position: absolute;
    width: 600px;
    height: 800px;
    left: 0;
    transition: all ease-out  .7s;
}
.clothing-shirt :hover .clothing-shirt-2{
    opacity: 0;
    cursor: pointer;
    
}
.clothing-shirt-price .clothing-shirt-title{
    display: flex;
    justify-content: space-around;
}
.clothing-shirt-a {
    position: relative;
    display: block;
    text-align: center;
    width: 600px;
    height: 800px;
}
.btn-2{
    position: relative;
    width: 180px;
    text-decoration: none;
    align-items: center;
    height: 30px;
    background-color:var(--black-color);
    border: transparent;
    cursor: pointer;
    color:white;
    
}
.btn-2::before{
    position: absolute;
    content: " ";
    left: 0;
    top:0;
    width: 100%;
    height: 50%;
    display: block;
    transition: all ease-out .5s;
    background-color: white;
    color: black;
}
.btn-2:hover::before{
    height: 0;
    cursor: pointer;
}
.btn-2::after{
    position: absolute;
    content: " ";
    left: 0;
    bottom:0;
    width: 100%;
    height: 50%;
    display: block;
    transition: all ease-out .5s;
    background-color: white;
    color: black;
}
.btn-2:hover::after{
    height: 0;
    cursor: pointer;
}
